/**
 * ${1:Klassenbeschreibung}
 *
 * @package ${2:Package}
 * @subpackage ${3:Subpackage}
 * @author Mario Behrendt <info@mario-behrendt.de>
 * @copyright `system("date +%Y")` Mario Behrendt
 * @version $Id$
 * @since `system("date +%d.%m.%Y")`
 */
${4}
