/**
 * ${1:Klassenbeschreibung}
 *
 * @package ${2:Package}
 * @subpackage ${3:Subpackage}
 * @author Mario Behrendt <behrendt@yanted.com>
 * @copyright `system("date +%Y")` Yanted.com 
 * @version $Id$
 * @since `system("date +%d.%m.%Y")`
 */
${4}
